<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [3]:
# Carga el dataset de trabajo
import pandas as pd
import numpy as np
df_concat = pd.read_csv("datos/netflix_concat.csv")

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [9]:
condicion1 = df_concat["type"] == "Movie"
condicion2 = df_concat["release_year"] == 2021
df_concat[condicion1 & condicion2].head(2)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
2,2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish
3,3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [28]:
condicion1 = df_concat["duration"] == 90

df_concat[condicion1][["title", "duration"]]

Empty DataFrame
Columns: [title, duration]
Index: []

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [27]:
condicion2 = df_concat["country"] == "India"
condicion1 = df_concat["release_year"] > 2018
df_concat[condicion1 & condicion2].head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
8,8,s872,Movie,Sardar Ka Grandson,Kaashvie Nair,"Arjun Kapoor, Neena Gupta, Rakul Preet Singh, ...",India,"May 18, 2021",2021,TV-14,140 min,"Comedies, Dramas, International Movies",A devoted grandson’s mission to reunite his ai...,Sardar Ka Grandson,Comedy,"May 18, 2021",139,4.1,Hindi
13,13,s910,Movie,Milestone,Ivan Ayr,"Suvinder Vicky, Lakshvir Saran, Mohinder Gujra...",India,"May 7, 2021",2021,TV-14,98 min,"Dramas, Independent Movies, International Movies","Recently marking 500,000 kilometers on the roa...",Milestone,Drama,"May 7, 2021",98,6.6,Hindi
15,15,s960,Movie,The Disciple,Chaitanya Tamhane,"Aditya Modak, Arun Dravid, Sumitra Bhave, Deep...",India,"April 30, 2021",2021,TV-MA,128 min,"Dramas, Independent Movies, International Movies","Self-doubt, sacrifice and struggle converge in...",The Disciple,Drama,"April 30, 2021",129,7.2,Marathi
18,18,s1024,Movie,Ajeeb Daastaans,"Shashank Khaitan, Raj Mehta, Neeraj Ghaywan, K...","Fatima Sana Shaikh, Jaideep Ahlawat, Armaan Ra...",India,"April 16, 2021",2021,TV-MA,142 min,"Dramas, Independent Movies, International Movies",Four shorts explore the surprising ways in whi...,Ajeeb Daastaans,Drama,"April 16, 2021",142,6.7,Hindi
31,31,s1166,Movie,Pagglait,Umesh Bist,"Sanya Malhotra, Sayani Gupta, Ashutosh Rana, R...",India,"March 26, 2021",2021,TV-PG,NaN,"Comedies, Dramas, International Movies","Widowed soon after marriage, a young woman gra...",Pagglait,Comedy-drama,"March 26, 2021",114,6.9,Hindi

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [30]:
condicion1 = df_concat["rating"] == "TV-14"
condicion2 = df_concat["rating"] == "R"

df_concat[condicion1 | condicion2].head(2)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
1,1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
7,7,s854,Movie,Army of the Dead,Zack Snyder,"Dave Bautista, Ella Purnell, Omari Hardwick, G...",United States,"May 21, 2021",2021,R,148 min,"Action & Adventure, Horror Movies","After a zombie outbreak in Las Vegas, a group ...",Army of the Dead,Zombie/Heist,"May 21, 2021",148,5.9,English

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [47]:
condicion1 = df_concat["director"] == "Christopher Nolan"
condicion2 = df_concat["director"] == "Martin Scorsese"
df_concat[condicion1 | condicion2]

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
237,237,s3228,Movie,The Irishman,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,"November 27, 2019",2019,R,209 min,Dramas,Hit man Frank Sheeran looks back at the secret...,The Irishman,Crime drama,"November 27, 2019",209,7.8,English

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.