<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [116]:
# Carga el dataset de trabajo
import pandas as pd
import numpy as np
df_concat = pd.read_csv("datos/netflix_concat.csv")

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [117]:
condicion1 = df_concat["type"] == "Movie"
condicion2 = df_concat["release_year"] == 2021
df_concat[condicion1 & condicion2].head(2)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
2,2,s625,Movie,Prime Time,Jakub Piątek,"Bartosz Bielenia, Magdalena Popławska, Andrzej...",NaN,"June 30, 2021",2021,TV-MA,NaN,"Dramas, International Movies, Thrillers","On New Year’s Eve 1999, an armed man enters a ...",Prime Time,Thriller,"April 14, 2021",91,5.7,Polish
3,3,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95,6.7,English

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [118]:
condicion1 = df_concat["duration"] == 90

df_concat[condicion1][["title", "duration"]]

Empty DataFrame
Columns: [title, duration]
Index: []

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [119]:
condicion2 = df_concat["country"] == "India"
condicion1 = df_concat["release_year"] > 2018
df_concat[condicion1 & condicion2].head()

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
8,8,s872,Movie,Sardar Ka Grandson,Kaashvie Nair,"Arjun Kapoor, Neena Gupta, Rakul Preet Singh, ...",India,"May 18, 2021",2021,TV-14,140 min,"Comedies, Dramas, International Movies",A devoted grandson’s mission to reunite his ai...,Sardar Ka Grandson,Comedy,"May 18, 2021",139,4.1,Hindi
13,13,s910,Movie,Milestone,Ivan Ayr,"Suvinder Vicky, Lakshvir Saran, Mohinder Gujra...",India,"May 7, 2021",2021,TV-14,98 min,"Dramas, Independent Movies, International Movies","Recently marking 500,000 kilometers on the roa...",Milestone,Drama,"May 7, 2021",98,6.6,Hindi
15,15,s960,Movie,The Disciple,Chaitanya Tamhane,"Aditya Modak, Arun Dravid, Sumitra Bhave, Deep...",India,"April 30, 2021",2021,TV-MA,128 min,"Dramas, Independent Movies, International Movies","Self-doubt, sacrifice and struggle converge in...",The Disciple,Drama,"April 30, 2021",129,7.2,Marathi
18,18,s1024,Movie,Ajeeb Daastaans,"Shashank Khaitan, Raj Mehta, Neeraj Ghaywan, K...","Fatima Sana Shaikh, Jaideep Ahlawat, Armaan Ra...",India,"April 16, 2021",2021,TV-MA,142 min,"Dramas, Independent Movies, International Movies",Four shorts explore the surprising ways in whi...,Ajeeb Daastaans,Drama,"April 16, 2021",142,6.7,Hindi
31,31,s1166,Movie,Pagglait,Umesh Bist,"Sanya Malhotra, Sayani Gupta, Ashutosh Rana, R...",India,"March 26, 2021",2021,TV-PG,NaN,"Comedies, Dramas, International Movies","Widowed soon after marriage, a young woman gra...",Pagglait,Comedy-drama,"March 26, 2021",114,6.9,Hindi

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [120]:
condicion1 = df_concat["rating"] == "TV-14"
condicion2 = df_concat["rating"] == "R"

df_concat[condicion1 | condicion2].head(2)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
1,1,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117,6.7,English
7,7,s854,Movie,Army of the Dead,Zack Snyder,"Dave Bautista, Ella Purnell, Omari Hardwick, G...",United States,"May 21, 2021",2021,R,148 min,"Action & Adventure, Horror Movies","After a zombie outbreak in Las Vegas, a group ...",Army of the Dead,Zombie/Heist,"May 21, 2021",148,5.9,English

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [121]:
condicion1 = df_concat["director"] == "Christopher Nolan"
condicion2 = df_concat["director"] == "Martin Scorsese"
df_concat[condicion1 | condicion2]

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
237,237,s3228,Movie,The Irishman,Martin Scorsese,"Robert De Niro, Al Pacino, Joe Pesci, Harvey K...",United States,"November 27, 2019",2019,R,209 min,Dramas,Hit man Frank Sheeran looks back at the secret...,The Irishman,Crime drama,"November 27, 2019",209,7.8,English

In [122]:
df_concat[df_concat["director"] == "Christopher Nolan"]

Empty DataFrame
Columns: [Unnamed: 0, show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Title, Genre, Premiere, Runtime, IMDB Score, Language]
Index: []

In [123]:
df_concat[condicion1].shape

(0, 19)

Cristopher Nolan no tiene ningun titulo en Netflix, Martin Scorssese si, tiene un titulo

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [124]:
paises_interesados = ["United Kingdom", "United States",  "Canada"]
condicion_paises = df_concat["country"].isin(paises_interesados)


df_pelispais = df_concat[condicion_paises]
df_pelispais['Language'].filter(regex = r"/w\//w")

Series([], Name: Language, dtype: object)

In [125]:
df_pelispais['Language'].str.contains('/').sum()

np.int64(10)

In [126]:
df_pelispais[df_pelispais['Language'].str.contains('/')]["title"].unique()

array(['Secrets of the Saqqara Tomb',
       'Mucho Mucho Amor: The Legend of Walter Mercado', 'Tigertail',
       'After Maria', 'Period. End of Sentence.',
       'ReMastered: Massacre at the Stadium', 'The Outsider',
       'Sky Ladder: The Art of Cai Guo-Qiang', 'Team Foxcatcher',
       'Beasts of No Nation'], dtype=object)

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [127]:
inicio = df_concat["release_year"] == 2015
fin = df_concat["release_year"] == 2020

df_años = df_concat[df_concat["release_year"].between(2015,2020, inclusive="both")]

df_años.describe()["release_year"]

#Son 456 los titulos lanzados entre 2015 y 2020

count     456.000000
mean     2018.640351
std         1.380410
min      2015.000000
25%      2018.000000
50%      2019.000000
75%      2020.000000
max      2020.000000
Name: release_year, dtype: float64

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [128]:
inicio = df_concat["IMDB Score"] == 6.5
fin = df_concat["IMDB Score"] == 8.0
filtro_puntu = df_concat["IMDB Score"].between(6.5, 8, inclusive = "both")
isnu = df_concat["duration"].isna()

df_puntuacion = df_concat.loc[filtro_puntu & isnu,["title"]]
df_puntuacion

                           title
3                   Blue Miracle
12                        Oxygen
14                       Monster
19        Arlo the Alligator Boy
30                      Bad Trip
..                           ...
487               Audrie & Daisy
497   The Fundamentals of Caring
500              Team Foxcatcher
508                          Tig
509  What Happened, Miss Simone?

[77 rows x 1 columns]

 #### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 o 150 minutos?

In [129]:
lista_minutos = ["90 min", "150 min"]

df_duracion = df_concat[df_concat["duration"].isin(lista_minutos)]
df_duracion

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90,7.5,English
33,33,s1172,Movie,Seaspiracy,Ali Tabrizi,NaN,United States,"March 24, 2021",2021,TV-14,90 min,Documentaries,"Passionate about ocean life, a filmmaker sets ...",Seaspiracy,Documentary,"March 24, 2021",89,8.2,English
52,52,s1373,Movie,June & Kopi,Noviandra Santosa,"Acha Septriasa, Ryan Delon, Makayla Rose Hilli...",Indonesia,"January 28, 2021",2021,TV-PG,90 min,"Children & Family Movies, Dramas, Internationa...","A street dog is taken in by a young couple, an...",June & Kopi,Drama,"January 28, 2021",90,6.3,Indonesian
58,58,s1421,Movie,"Crack: Cocaine, Corruption & Conspiracy",Stanley Nelson,NaN,United States,"January 11, 2021",2021,TV-MA,90 min,Documentaries,"A cheap, powerful drug emerges during a recess...","Crack: Cocaine, Corruption & Conspiracy",Documentary,"January 11, 2021",89,6.7,English
94,94,s1713,Movie,Ludo,Anurag Basu,"Abhishek Bachchan, Aditya Roy Kapur, Rajkummar...",India,"November 12, 2020",2020,TV-MA,150 min,"Comedies, Dramas, International Movies",From a resurfaced sex tape to a rogue suitcase...,Ludo,Anthology/Dark comedy,"November 12, 2020",149,7.6,Hindi
155,155,s2187,Movie,Raat Akeli Hai,Honey Trehan,"Nawazuddin Siddiqui, Radhika Apte, Khalid Tyab...",India,"July 31, 2020",2020,TV-MA,150 min,"Dramas, International Movies, Thrillers","When a newly married landlord is murdered, a m...",Raat Akeli Hai,Thriller,"July 31, 2020",149,7.3,Hindi
162,162,s2233,Movie,Fatal Affair,Peter Sullivan,"Nia Long, Omar Epps, Stephen Bishop, Maya Stoj...",United States,"July 16, 2020",2020,TV-14,90 min,Thrillers,A lawyer is caught in a terrifying game of cat...,Fatal Affair,Thriller,"July 16, 2020",89,4.5,English
176,176,s2361,Movie,One-Way to Tomorrow,Ozan Açıktan,"Dilan Çiçek Deniz, Metin Akdülger",Turkey,"June 19, 2020",2020,TV-MA,90 min,"Dramas, International Movies, Romantic Movies",Two strangers cross paths on a train en route ...,One-Way to Tomorrow,Romance,"June 19, 2020",90,5.6,Turkish
186,186,s2541,Movie,The Wrong Missy,Tyler Spindel,"David Spade, Lauren Lapkus, Nick Swardson, Geo...",United States,"May 13, 2020",2020,TV-MA,90 min,"Comedies, Romantic Movies",Tim thinks he's invited the woman of his dream...,The Wrong Missy,Comedy,"May 13, 2020",90,5.7,English
245,245,s3330,Movie,American Son,Kenny Leon,"Kerry Washington, Steven Pasquale, Jeremy Jord...",United States,"November 1, 2019",2019,TV-MA,90 min,Dramas,Time passes and tension mounts in a Florida po...,American Son,Drama,"November 1, 2019",90,5.8,English
301,301,s3819,Movie,Good Sam,Kate Melville,"Tiya Sircar, Chad Connell, Marco Grazzini, Jes...",United States,"May 16, 2019",2019,TV-PG,90 min,"Children & Family Movies, Dramas",A curious reporter finds love while pursuing t...,Good Sam,Drama,"May 16, 2019",89,5.7,English
318,318,s4034,Movie,Juanita,Clark Johnson,"Alfre Woodard, Adam Beach, LaTanya Richardson ...",United States,"March 8, 2019",2019,TV-MA,90 min,"Dramas, Independent Movies, Romantic Movies","Burdened by troubles in life and love, a mothe...",Juanita,Drama,"March 8, 2019",90,6.0,English
370,370,s4689,Movie,The After Party,Ian Edelman,"Kyle Harvey, Harrison Holzer, Teyana Taylor, S...",United States,"August 24, 2018",2018,TV-MA,90 min,"Comedies, Music & Musicals",An aspiring rapper and his best friend/manager...,The After Party,Comedy,"August 24, 2018",89,5.8,English
380,380,s4812,Movie,Recovery Boys,Elaine McMillion Sheldon,NaN,United States,"June 29, 2018",2018,TV-MA,90 min,Documentaries,"In a region ravaged by opioid abuse, four youn...",Recovery Boys,Documentary,"June 29, 2018",89,6.6,English
502,502,s5862,Movie,Pee-wee's Big Holiday,John Lee,"Paul Reubens, Joe Manganiello, Jessica Pohly, ...",United States,"March 18, 2016",2016,TV-PG,90 min,"Children & Family Movies, Comedies, Cult Movies",A chance encounter with a mysterious stranger ...,Pee-wee's Big Holiday,Adventure,"March 18, 2016",89,6.1,English

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [140]:
condicion1 = (df_concat["title"].str.contains("love", case = False))
condicion2 = (df_concat["type"] == "TV show")

ritulos_love = df_concat[condicion1 & condicion2]
ritulos_love

Empty DataFrame
Columns: [Unnamed: 0, show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, Title, Genre, Premiere, Runtime, IMDB Score, Language]
Index: []

Parece que no hay ningun tipo con las siguientes condiciones

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [153]:
jon = df_concat[df_concat["director"].str.contains("Johnson", case = False, na = False)]
jon[["title"]]

                    title
0    Dick Johnson Is Dead
138      Love, Guaranteed
318               Juanita
385      Alex Strangelove

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [172]:
ty = df_concat[(df_concat["type"] == "Documentaries") & (df_concat["cast"].str.contains("Tyson", case=  False, na = False))]
ty[["title"]]

Empty DataFrame
Columns: [title]
Index: []

In [171]:
df_concat["type"] == "Documentaries"  #Parece que no hay Documentaries

0      False
1      False
2      False
3      False
4      False
       ...
508    False
509    False
510    False
511    False
512    False
Name: type, Length: 513, dtype: bool

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [175]:
df_concat[["title", "country", "release_year"]]

,title,country,release_year
0,Dick Johnson Is Dead,United States,2020
1,Extraction,"United States, United Kingdom, Canada",2015
2,Prime Time,NaN,2021
3,Blue Miracle,United States,2021
4,Ghost Lab,Thailand,2021
...,...,...,...
508,Tig,United States,2015
509,"What Happened, Miss Simone?",United States,2015
510,Hot Girls Wanted,United States,2015
511,The Other One: The Long Strange Trip of Bob Weir,United States,2015
512,My Own Man,United States,2015

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [174]:
filtrocolum = df_concat.filter(like="date").columns
df_concat[filtrocolum]

             date_added
0    September 25, 2021
1     September 1, 2021
2         June 30, 2021
3          May 27, 2021
4          May 27, 2021
..                  ...
508       July 17, 2015
509       June 26, 2015
510        May 29, 2015
511        May 22, 2015
512       March 6, 2015

[513 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [166]:
filtrotit = df_concat.query("country == 'France' and duration == 80")
filtrotit[["title", "country", "duration"]]

(513, 19)

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [197]:
filtromov = df_concat[(df_concat["type"] == "Movie") & (df_concat["release_year"] < 2010)]
filtromov[["title", "release_year", "type"]]

Empty DataFrame
Columns: [title, release_year, type]
Index: []

In [200]:
df_concat["release_year"].min() #El titulo mas viejo es de 2014

np.int64(2014)

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [210]:
filtrotit = df_concat[df_concat["director"].isna()]
filtrotit[["title", "director"]]

                                                 title director
24                   Dolly Parton: A MusiCares Tribute      NaN
30                                            Bad Trip      NaN
59                                         Stuck Apart      NaN
62                        The Minimalists: Less Is Now      NaN
70   Ma Rainey's Black Bottom: A Legacy Brought to ...      NaN
77                                   Leyla Everlasting      NaN
126           The Boys in the Band: Something Personal      NaN
142                                     Rising Phoenix      NaN
146                  John Was Trying to Contact Aliens      NaN
194           Murder to Mercy: The Cyntoia Brown Story      NaN
201                                       LA Originals      NaN
210                 Crip Camp: A Disability Revolution      NaN
234                      The Irishman: In Conversation      NaN
273   American Factory: A Conversation with the Obamas      NaN
278                     Invader Zim: Enter the Florpus      NaN
282                                          Otherhood      NaN
316          Antoine Griezmann: The Making of a Legend      NaN
329                                              Polar      NaN
348                                The Princess Switch      NaN
355                            Derren Brown: Sacrifice      NaN
366                                      Reversing Roe      NaN
376                                 Father of the Year      NaN

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [221]:
identifica = df_concat[df_concat["title"].duplicated()]
identifica[["title"]]

Empty DataFrame
Columns: [title]
Index: []